html {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    margin: 0px;
    padding: 0px;
}

body {
    display: block;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
    height: 20%;
    background-image: url(./images/picture-orig.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogoConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 93, 105, 0.8);
    height: 120px;
    width: 100%;
}

.headerTitle {
    color: rgb(231, 55, 72);
    font-size: 80px;
    justify-content: center;
    align-items: center;
    font-family: 'Vast Shadow', cursive;
    margin: 0px;
}

.main {
    /* background-color: rgb(126, 169, 190); */
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613515788_16-p-fon-dlya-prezentatsii-na-temu-izobreteniya-21.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
}

.cardConteiner {
    border: 1.5px solid rgb(192, 232, 241);
    border-radius: 25px;
    margin: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    flex-wrap: wrap;
}

.card {
    border: 1.5px solid rgb(192, 232, 241);
    /* border-radius: 25px; */
    margin: 20px;
    width: 300px;
    height: 30%;
    display: block;
    padding: 3px;
    text-align: center;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
    height: 100%;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr {
    background-color: #7db2ee;
}
  
#customers tr:hover {background-color: rgb(134, 218, 240);}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#customers, .lastLine {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

th {
    height: 40%;
}

.managerCard th {
    background-color: #d3b450;
}
.engineerCard th {
    background-color: #84af3e;
}
.internCard th {
    background-color: #507ed3;
}